.code-container{
    display: flex;
    flex-direction: column;

}
.code-description{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.code-picture{
    display: flex;
    width: 45%;
    justify-content: flex-start;
    border: .1rem solid black;
    padding: 2rem;
}
.code-box{
    display: flex;
    border: .1rem solid black;
    padding: 2rem;
}
.code-right{
    display: flex;
    width:45%;
    border: .1rem solid black;
    padding: 2rem;
}