.footer{
    color: white;
    background: rgb(73,79,82);
    display: flex;
    align-items: flex-end;
    padding-top: 1rem;

}
.copyright{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 50%
}
.author{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
}
.page-container{
    position: relative;
    min-height: 100vh;
}
.content-wrap{
    padding-bottom: 2.5rem;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}