
.home{
    display: flex;
    flex-direction: column;
    color: #043939;
    border: 1rem solid black;
}
.home-container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 1rem;
}

.home-picture{
    border: .1rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    width: 45%;

}
.home-description{
    display: flex;
    flex-direction: column;
    border: .1rem solid black;
    width: 45%;
}