nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10rem;
    background: rgb(73,79,82);
    color: white;
}
.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}